.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-field {
    display: flex;
    gap: 10px;
}
.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button {
    margin-top: 30px;
}


@media (max-width: 1050px) {
    /* Styles for inputs on screens 1050px wide or less */
   .place-order input {
        font-size: 30px; /* Adjust the font size */
        padding: 20px; /* Adjust the padding */
        width: 100%; /* Make inputs full width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        border-radius: 10px;
    }
    
    .place-order-left, .place-order-right {
        width: 100%; /* Adjust widths for responsive design */
        margin: 0 auto;
    }

    .place-order {
        display: block; /* Stack elements vertically */
        padding: 60px; /* Add padding */
    }

    .place-order-left, .place-order-right {
        margin-bottom: 20px; /* Add space between sections */
    }

    .cart-total {
        width: 100%; /* Adjust width for responsive design */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}
