@media (max-width: 1050px) {
    #chat-application-iframe {
        width: 500px !important;
        height: 300px;
    }
}

@media (max-width: 1050px) {
    .smartsupp-widget-button {
      transform: scale(3.5) !important; /* Adjust scale to your preference */
      transform-origin: center !important; /* Keeps the icon centered when resized */
    }
  }
  
    body {
        font-family: 'Roboto', sans-serif;
      }
      h1, h2, h3 {
        font-family: 'Poppins', sans-serif;
      }
      

  