.contact-page {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 120px;
  }
  
  .contact-page .container {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  .contact-page h1,
  .contact-page h2 {
    color: #6a1b9a; /* Purple theme for ElectroVault */
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
  }
  
  .contact-page p {
    margin-bottom: 15px;
  }
  
  .contact-page ul {
    margin: 10px 0 20px 20px;
  }
  
  .contact-page ul li {
    margin-bottom: 10px;
  }
  
  .contact-page a {
    color: #6a1b9a;
    text-decoration: underline;
  }
  
  .contact-page a:hover {
    color: #4a0072;
  }
  
  @media (max-width: 1050px) {
    .contact-page {
      margin-top: 180px;
    }
    
    .contact-page h2 {
      font-size: 38px;
    }
    .contact-page h1 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .contact-page p {
      font-size: 28px;
      color: gray;
    }
    .contact-page p strong {
        font-size: 35px;
    }
    .contact-page ul li {
      font-size: 30px;
      color: gray;
    }
  }
  