.forgot-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    top: 0;
    bottom: 0;
    left: 0;
}
.forgot-popup-container {
   place-self: center;  
   width: max(23vw, 330px);
   color: #808080;
   background-color: white;
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding: 25px 30px;
   border-radius: 8px;
   font-size: 14px;
   animation: fadeIn 0.5s;
}
.forgot-popup-title {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: black;
}
.forgot-popup-title img {
    width: 16px;
    cursor: pointer;
}
.forgot-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forgot-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.forgot-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.forgot-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.forgot-popup-condition input {
    margin-top: 5px;
}
.forgot-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.login_span {
    color: tomato;
    font-style: italic;
}

@media (max-width: 1050px) {
    .forgot-popup-container {
        width: 70vw; /* Adjust container width for tablets */
        /* height: 40vh; Adjust container height for tablets */
        padding: 50px; /* Adjust padding for tablets */
    }

    .forgot-popup-title img {
        width: 40px; /* Smaller close icon for tablets */
    }
    .forgot-popup-container {
        font-size: 25px;
    }

    


    .forgot-popup-inputs input {
        outline: none;
        border: 5px solid #c9c9c9;
        padding: 40px;
        border-radius: 20px;
        font-size: 40px;
    }
    .login-popup-condition input {
        
    }

    .forgot-popup-container button {
        font-size: 40px; /* Adjust button font size for tablets */
        padding: 30px;

    }
}

/* Mobile devices */
@media (max-width: 900px) {
    .forgot-popup-container {
        width: 90vw; /* Adjust container width for mobile phones */
        padding: 50px; /* Adjust padding for mobile phones */
        font-size: 30px; /* Adjust font size for mobile phones */
    }

    .forgot-popup-title img {
        width: 40px; /* Smaller close icon for mobile phones */
    }

    .forgot-popup-container button {
        font-size: 30px; /* Adjust button font size for mobile phones */
    }

    .forgot-popup-condition {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start for mobile */
    }
}