/* General container styles */
.food-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    
   
    
  }
  
  .food-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #9B59B6;
  }
  
  .food-item-img-container {
    position: relative;
    width: 100%;
    height: 200px;
    /* overflow: hidden; */
  }
  
  .food-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
    animation: rotate-image 2s ease-in-out;
  }
  
  @keyframes rotate-image {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .food-item-info {
    gap: 0;
    /* padding: 15px; */
    margin-left: 15px;
    /* text-align: center; */
    width: 100%;
    margin-top: 1px;
    
  }

  .brand_new {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF6600;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  
  .food-item-name-rating p {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 10px 0;
    /* color: #333; */
    color: gray;
    
  }
  
  .food-item-price {
    font-size: 1.0rem;
    color:  #333333;
    /* color: #4B0082; */
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -10px;
  }
  
  .discount {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-top: 10px; */
  }
  
  .food-item-initprice {
    font-size: 1rem;
    color: #888;
    text-decoration: line-through;
    /* text-align: left; */
   /* width: 100%; */
    
  }
  
  .discount_percent {
    font-size: 1rem;
    color: #FF0000;
    font-weight: bold;
    margin-left: 0;
  }
  
  /* Button styles */
  .add {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #ff6b6b; */
    background-color: #6A0DAD;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add:hover {
    background-color: #e63946;
  }
  
  /* Modal styles */
  .modal.fade {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .modal.fade.show {
    display: block;
  }
  
  .modal-dialog {
    max-width: 600px;
    margin: 50px auto;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .modal-header h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .modal-body {
    padding: 20px;
    text-align: center;
  }
  
  .custom-modal-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .prod_details {
    font-weight: bold;
    color: white;
    margin: 10px 10px;
    background-color:#6A0DAD;
    padding: 10px;
    /* border-top-left-radius: 40px; */
    border-bottom-right-radius: 40px;
  }
  
  .modal_des {
    color: #555;
    font-size: 1rem;
    margin: 10px 10px;
   
  }
  
  .add_cart_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
   
  }
  
  .add_modal {
    
    color: #fff;
    padding: 10px 200px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #6A0DAD;
    /* border-top-left-radius: 40px; */
    border-bottom-right-radius: 40px;
  }
  
  .add_modal:hover {
    background-color: black;
  }
  
  .food-item-modal {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    
  }

  .remove_from_cart {
    padding: 10px 30px;
    background-color: #6A0DAD;
  }
  
  .cart_quantity {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .cart_modal {
    position: relative;
    display: flex;
    align-items: center;
    
  }

  .cart_modal .dot {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .cart_modal p {
    font-size: 40px;
  }

  .cart_modal img {
    width: 50px;
    color: black;
    /* height: 24px; */
  }
  
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ff6b6b;
    border-radius: 50%;
  }
  
  /* Reviews section */
  .reviews-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .btn-secondary {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-secondary:hover {
    background-color: #666;
  }
  

  /* Adjustments for medium screens */
  @media (max-width: 1050px) {
    .food-item {
      border-radius: 40px;
     
      
    }
    .food-item-info p {
        font-size: 30px;
        
    }

    .brand_new {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 40px;
      padding: 10px;
      font-size: 30px;
      
    }

    .food-item-img-container {
      position: relative;
      width: 100%;
      height: 500px;
      /* overflow: hidden; */
    }
    
    .food-item-image {
      max-width: 100%;
      /* height: 100%; */
      object-fit: contain;
      border-bottom: 1px solid #e0e0e0;
      
    }
    
    .add {
        width: 180px !important;
        height: 80px !important;
        font-size: 29px !important;
        margin-bottom: -27px !important;
        border-top-left-radius: 40px !important;
        border-bottom-right-radius: 40px !important;
    }

    .custom-modal-img {
        max-width: 90vw;
    }

    .btn-secondary {
        padding: 20px 40px !important;
        background-color:  #4B0082 !important;
        font-size: 30px !important;
    }

    
    
    .modal-content {
        margin-top: 200px;
    }
    
    .modal-body p {
        font-size: 35px;
       
    }
    .modal-title {
        font-size: 43px !important;
    }
    .close {
        font-size: 60px;
        margin-right: 30px;
        background-color: #4B0082 !important;
        color: white;
        padding: 20px  40px !important;
    }
    .food-item:hover {
        animation: none;
    }
    .food-item-info {
       text-align: left;
       /* margin-left: 50px; */
       
    }
    .discount {
        gap: 20px;
    }
    .modal-dialog {
        margin : 0;
        max-width: 90% !important;
        z-index: -1;
        
      }
      .modal-full-mobile {
        width : 100vw;
        height :100vh;
      }
      .prod_details {
        padding: 23px;
        font-size: 43px;
        border-top-left-radius: 70px ;
        border-bottom-right-radius: 70px ;

      }
      .modal_des {
        margin: 15px;
        font-size: 32px;
        font-weight: 500;
      }
      .add_modal{
        width: 100%;
        font-size: 43px;
        border-top-left-radius: 50px ;
        border-bottom-right-radius: 50px ;
        background-color: #6A0DAD;
      }
      
      .food-item-modal img {
        width: 90px;
      }
      .cart_modal {
        margin-right: 30px;
      }
      .cart_modal img {
        width: 90px;
      }
      .cart_quantity {
        font-size: 45px;
      }
      .cart_modal p {
        font-size: 100px;
      }
      .remove_from_cart {
        padding: 0 80px;
        font-size: 80px;
      }

}

  